.userlist{
	background-color : #42f4b0;

	border : 1px solid #000;
}

.user {
	margin:10px;
	background-color : #42f4aa;
	
	
}

.userForm{
	border-left : 1px solid #000;
	background-color : #397a55;
	color : #fff;
	

}

button {
	color:#000;
}

.searchResults img {
	min-height:100px;
	min-width :100px;
}

.favgifs{
	height:100px;
	overflow-y: scroll;
	margin-right:5px;
	margin.top:10px;
}
.favgifs img{
	margin:1px;
	border :1px solid #fff;
}

.gif-input {
	margin-top:10px;
}