<div class="container">
    <div class="row">
        <h1 class="text-center"> Geek Agenda </h1>
    </div>
    <div class="row">
                <div class=" col-md-4 userForm">
                <div class="row">
                <h3 class="col-md-6">Nuevo Usuario</h2>
                <div class="buffer"></div>
                <div class="tabs col-md-6">
                    <button autofocus id ="data" ng-click="toggleDataFlag()">Datos</button>
                    <button  id="gifs" ng-click="toggleGifsFlag()">Gifs</button>
                    <button id="others" ng-click="toggleOthersFlag()">Otros</button>
                </div>
                </div>

            <div ng-show="dataFlag">
                <form name="userData" novalidate>
                    <div class="form-group">
                        <label for=""> Nombre</label>
                        <input  name="username" ng-required="true" class="form-control" type="text" ng-model="newUser.name">
                        <small ng-show="userData.username.$touched && userData.username.$invalid"> Por favor, introduce el nombre</small>
                    </div>
                    <div class="form-group">
                        <label for=""> Email</label>
                        <input name="mail" ng-required="true" class="form-control" type="email" ng-model="newUser.mail">
                        <small ng-show="userData.mail.$touched && userData.mail.$invalid"> Por favor, introduce un correo electrónico válido</small>
                    </div>
                    <div class="form-group">
                        <label for=""> Teléfono</label>
                        <input name="phone" ng-required="true"class="form-control" ng-minlength="9" ng-maxlength="9"type="text" ng-model="newUser.phone">
                        <small ng-show="userData.phone.$touched && userData.phone.$invalid"> Por favor introduce un número de teléfono válido</small>
                    </div>
                    <div class="form-group">
                        <label for=""> Foto</label>
                        <input class="form-control" type="text" ng-model="newUser.photo">
                        <small>Para imagen por defecto dejar vacío</small>
                    </div>
                    <button ng-show="editFlag" class="btn btn-primary btn-lg" ng-click="updateUser(newUser)"> Modificar</button>
                </form>
            </div>



            <div ng-show="gifsFlag">
               <gif array-gifs ="newUser.gifs"></gif>
           </div>

            <div ng-show="othersFlag">  





                <comic  array-comics ="newUser.comics"> </comic>

                



          
            </div>
              <button ng-disabled="userData.$invalid && !showFavGifsFlag && !showFavComicsFlag " ng-show="createFlag" ng-click="createUser(newUser)" id="create" class="btn btn-primary btn-lg col-md-offset-7">Crear</button>
                          <div class="buffer"></div>

        </div>


        <div class=" col-md-8 userlist">

            <div class="user row col-md-8" ng-repeat="user in users track by user.id">
                <div class="col-md-4">
                    <img ng-src="{{user.photo}}" alt="" src="https://eliaslealblog.files.wordpress.com/2014/03/user-200.png">
                </div>
                <div class="col-md-6 userdata">
                    <p id="title"><i class="fa fa-user" aria-hidden="true"></i> Nombre : </p>
                    <p>{{user.name}}</p>
                    <p id="title"><i class="fa fa-phone-square" aria-hidden="true"></i> Telefono :</p>
                    <p> {{user.phone}}</p>
                    <div class="botonera">
                        <a href="#!/user/{{user.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <button ng-click="editUser(user)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button ng-click="removeUser(user.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>