
	<div class="container">
		<div class="row">
			<h1 class="text-center"> Geek Agenda </h1>
		</div>
		<div class="row">
			<div class=" col-md-8 userlist">
				<div class="user row" ng-repeat="user in users track by user.id">
					<div class="col-md-6">
						<img class="img-thumbnail" ng-src="{{user.photo}}" alt="" src ="https://eliaslealblog.files.wordpress.com/2014/03/user-200.png">
					</div>
					<div class="col-md-6">
						<p>Nombre : {{user.name}}</p>
						<p>Telefono : {{user.phone}}</p>
						<div class="botonera">
							<a href="#!/user/{{user.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
							<button  ng-click="editUser(user)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
							<button ng-click="removeUser(user.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>						
						</div>					
					</div>
				</div>
			</div>

			<div class=" col-md-4 userForm">
				<h2>Nuevo Usuario</h2>
				<div>
					<button ng-click="toggleDataFlag()">Datos</button>
					<button ng-click="toggleGifsFlag()">Gifs</button>
					<button ng-click ="toggleOthersFlag()">Otros</button>
				</div>

				<div ng-if="dataFlag">
					<div class="form-group">
						<label for=""> Nombre</label>
						<input class="form-control" type="text" ng-model="newUser.name">
					</div>
					<div class="form-group">
						<label for=""> Email</label>
						<input  class="form-control" type="email" ng-model="newUser.mail">
					</div>
					<div class="form-group">
						<label for=""> Teléfono</label>
						<input class="form-control" type="text" ng-model="newUser.phone">
					</div>
					<div class="form-group">
						<label for=""> Foto</label>
						<input class="form-control" type="text" ng-model="newUser.photo">
					</div>
					<button ng-show="createFlag" ng-click="createUser(newUser)" class="btn btn-primary btn-lg">Crear</button>
					<button ng-show="editFlag" class="btn btn-primary btn-lg" ng-click="updateUser(newUser)"> Modificar</button>
				</div>



				<div ng-if ="gifsFlag">
					<h2>Gifs Favoritos</h2>
					<!-- Gifs favoritos --> 
					<div class="favgifs">
						<!-- Populate with ng-repeat gif in favorite gifs -->

					</div>
					<input type="text" placeholder="Buscar gifs" ng-model="gifquery">
					<p> Trending</p>
					<p> Recents</p>

					<button ng-click="searchGif(gifquery)">Buscar</button>
					
					<div class="searchresults">
						<!-- Populate with ng-repeat gif in favorite gifs -->

					</div>
				</div>
			</div>
		</div>
	</div>

	