<a href="#!/"> Volver a contactos </a>

<div class="container">
	<div class="row">
		<div class="userData col-md-4">

			<img ng-src="{{user.photo}}" alt="">

			<h2>Datos Personales </h2>

			<p><i class="fa fa-user" aria-hidden="true"></i>Nombre : {{user.name}}</p>
			<p> <i class="fa fa-phone-square" aria-hidden="true"></i>Teléfono : {{user.phone}}</p>
			<p><i class="fa fa-envelope-o" aria-hidden="true"></i>EMail : {{user.mail}}</p>
		</div>

		<div class="gifdata col-md-4">  
			<h2> Gifs Favoritos</h2>

			<div>
				<img src="{{favgif.images.fixed_width_small.url}}" ng-repeat="favgif in user.gifs" alt="">			
			</div>
		</div>

		<div class="comicdata col-md-4">
		 	<h2>Comics Favoritos</h2>
		 	<!--todo : comic list -->
		</div>
	</div>
</div>