<a  class="underline" href="#!/"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
 Volver a contactos </a>

<div class="container">
	<div class="row">
		<div class="userData col-md-3">

			<img ng-src="{{user.photo}}" alt="">

			<h2 class="text-center">Datos Personales </h2>

			<p><i class="fa fa-user" aria-hidden="true"></i>Nombre : {{user.name}}</p>
			<p> <i class="fa fa-phone-square" aria-hidden="true"></i>Teléfono : {{user.phone}}</p>
			<p><i class="fa fa-envelope-o" aria-hidden="true"></i>EMail : {{user.mail}}</p>
		</div>

		<div class=" col-md-4">  
			<h2 class="text-center"> Gifs Favoritos</h2>

			<div class="collection">
				<img class="center-block" src="{{favgif.images.original.url}}" ng-repeat="favgif in user.gifs" alt="">			
			</div>
		</div>

		<div class="col-md-4">
		 	<h2 class="text-center">Comics Favoritos</h2>
			<div class="collection">
		 		<img class="center-block" src="{{favcomic.thumbnail}}" ng-repeat="favcomic in user.comics" alt="">
		 	</div>
		</div>
	</div>
</div>